.header {
  height: 34vw;
  margin: 30px 0px;
  background-size: cover;
  background-position: right;
  position: relative;
  width: 100%;
  border-radius: 18px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
  color: orange;
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: orange;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
